{% extends "base.html" %}
{% block content %}

<br>
{{ nbexos }} exercice{{ nbexos|pluralize }}
<div style="text-align: center;">
	<form action="{% url 'prof.views.banque' %}" method="post">
		{% csrf_token %}
		{{ formAjouterExo }}
		<input type="submit" value="Ajouter exercice"/>
	</form>

	<hr width="25%" align="center">
<br>
<form action="{% url 'prof.views.banque' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formUploadExos}}
	<spacer type=vertical size=200>
<input type="submit" value="Ajouter" />
</form>
<br><br>
<br><br>
	<hr width="75%" align="center">
</div>
	{% for exo in listeexos %}
	<hr width="75%" align="center">
	<div style="width:100%; height:190px; overflow:hidden">{{ exo.err }}
		<img src="{% url 'prof.views.svg' exo.id '1' %}" {% if exo.err %}style="width:99%;border-color:#FF0000" border=2px{% endif %}>
	</div>
	<div style="text-align: center;" >
<table style="margin-left: auto; margin-right: auto;">
		<td>	<form action="{% url 'prof.views.banque' %}" method="post">
		{% csrf_token %}
		{{ exo.form }}
		<input type="submit" value="Modifier"/>
		</form>
</td><td>
		{% if exo.formDel %}
		<form action="{% url 'prof.views.banque' %}" method="post">
		{% csrf_token %}
		{{ exo.formDel }}
		<input type="submit" id='Effacer' value="Effacer"/>
		</form>
		{% endif %}
	</td>
</table>
	</div>
	{% endfor %}
{% if not exo %}
	<hr width="75%" align="center">
<div style="text-align: center;" >
<table style="margin-left: auto; margin-right: auto;">
<form action="{% url 'prof.views.home' %}" method="post">
	{% csrf_token %}
		{{ formEffacerBanque }}
<tr><th></th><td>	<input type="submit" id="Effacer" value="Effacer la banque"/> </td></tr>
</form>
</table>
</div>
{% endif %}
{% endblock %}
