{% extends "base.html" %}
{% block content %}

<br>
{{ nbexos }} exercice{{ nbexos|pluralize }}
<div style="text-align: center;">
	<form action="{% url 'prof.views.banque' %}" method="post">
		{% csrf_token %}
		{{ formAjouterExo }}
		<input type="submit" value="Ajouter exercice"/>
	</form>

</div>
	{% for exo in listeexos %}
	<div style="width:100%; height:190px; overflow:hidden;">
		<img src="{% url 'prof.views.svg' exo.id %}">
	</div>
	<div style="text-align: center;" >
		<form action="{% url 'prof.views.banque' %}" method="post">
		{% csrf_token %}
		{{ exo.form }}
		<input type="submit" value="Modifier exercice"/>
	</form>
<br>---<br>
</div>
	{% endfor %}
{% endblock %}
