{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>{% block head %}{% endblock %}
<link rel="shortcut icon" href="https://www.centrale-marseille.fr/sites/www/files/favicon.png" type="image/png" />
   <link rel="stylesheet" href="{% static 'style.css' %}" /> 
   <title>{% block title %}QCMaker{% endblock %}</title>
</head>
<body>

<div class="navbar navbar-fixed-top">
<div class="navbar inner">

	<h1>{% block bienvenue %}<a href="{% url 'prof.views.home' %}"> QCM /  {% if pr %} {{ pr.nom }} {% endif %}{% if el %} {{ el.nom }} {% endif %}</a>{% if banque %} // <a href="{% url 'prof.views.banque' %}"> {{ banque.nom }} </a>{% elif qcm %} // <a href="{% url 'prof.views.qcmaker' %}"> {{ qcm.nom }} </a>{% endif %}{% endblock %}</h1>
<p class="pull-right"><a href="{% url 'django_cas.views.logout' %}">Déconnexion</a></p>

</div>
</div>


<div>
		<section class="content">
       {% block content %}{% endblock %}
		</section>
  

</body>
</html>
