{% extends "base.html" %}

{% block content %}
<center><h2>QCMs</h2><br></center>
{% if listeChoix %}
<form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
    {{ formChoix}}
    <input type="submit" value="Accéder" />
</form>
{% endif %}
<form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
    {{ formNQCM}} <input type="submit" class="btn" value="Créer" />
</form>

<hr width="75%" align="center">

<center><h2>Banques d'exercices</h2><br></center>
{% if listebanques %}
<form action="{% url 'prof.views.home' %}" method="post">
    {% csrf_token %}
    {{ formBanque }} <input type="submit" class="btn" value="Modifier" />
</form>
{% endif %}
<form action="{% url 'prof.views.home' %}" method="post">
    {% csrf_token %}
    {{ formNouvelleBanque }} <input type="submit" class="btn" value="Créer" />
</form>

{% endblock %}
