{% extends "base.html" %}

{% block content %}
<h2>Jeu d'exercices {{ banque.nom }}<br></h2> 
<br>
{% for exo in listeexos %}
	<form action="{% url 'prof.views.makexo' %}" method="post">
		{% csrf_token %}
		{{ exo.formModifierExo }}
		<input type="submit" value="Modifier"/>
	</form>{{ exo.question }}<br><br>
{{ exo.reponses }}
{% endfor %}
<form action="{% url 'prof.views.makexo' %}" method="post">
	{% csrf_token %}
	{{ formMain.type }}
	{{ formMain.idmainexo }}
	<br>
	<br>
	<center>
		{{ formMain.question }}
		<br><br>
		{{ formMain.corrige }}
	</center>
	<input type="submit" value="Valider" />
	</form>
	<br>

	<form action="{% url 'prof.views.makexo' %}" method="post">
		{% csrf_token %}
		{{ formAjouterReponse.nouvellereponse }}
		<input type="submit" value="Ajouter reponse"/>
	</form>
	{% if listereponses %}
	Liste des réponses:<br><br>
	{% for reponse in listereponses %}
		{{ reponse.nom }}: {{ reponse.texte }} <br>	
	{% endfor %}
	{% endif %}
	<form action="{% url 'prof.views.makexo' %}" method="post">
		{% csrf_token %}
		{{ formAjouterExo.nouvelexo }}
		<input type="submit" value="Ajouter exercice"/>
	</form>
{% endblock %}
