{% extends "base.html" %}

{% block content %}
{% if listebanquesqcm %}
<br>
<form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
	{{ formGenerer }}<input type="submit" value="Générer pdfs" />
</form>
	<hr width="75%" align="center">

<h2>Composition du QCM<br></h2>
<table>
{% for banq in listebanquesqcm %}
<tr><td>
    {{ banq.nb }} exercice{{ banq.nb|pluralize }} de {{ banq.nom }}</td><td></td><td><form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
	{{ banq.formDel }}<input type="submit" value="X" />
</form></td></tr>
{% endfor %}
</table>
<br>

<hr width="75%" align="center">
{% endif %}<br>
<h2>Banques d'exercices disponibles<br></h2>
<div>
{% if listebanques %}
<form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
	{{ formAjoutBanque }}<input type="submit" value="Ajouter" />
</form>
{% endif %}
</div>
	<hr width="75%" align="center">
<h2>Entete</h2>
<div style="text-align: center;">
<form action="{% url 'prof.views.qcmaker' %}" method="post">
    {% csrf_token %}
	{{ formNEntete.nomTeX }}<br> {{ formNEntete.error }}<br> {{ formNEntete.texteTeX }}<br> <input type="submit" value="Enregistrer" /></form>

</div>
	<br>
<hr width="75%" align="center"><br>
<h2>Aperçu de l'entete<br></h2>
<img src="{% url 'prof.views.svg' qcm.id '2' %}"  {% if errtex %}style="width:100%;border-color:#FF0000" border=2px{% else %} style="width:100%" {% endif %}>
{% endblock %}
