{% extends "base.html" %}


{% block head %}
{% if encours or correctionencours or not importpdfini %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}


{% block content %}
{% if listecps %}
<br><br>
<center>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
    {{ formGenNotes }}	
<input type="submit" value="Télécharger les notes" />
</form>
</center>
<br>
Il y a <b>{{ nbcopiescorrigees }}</b> copie{{ nbcopiescorrigees|pluralize }} corrigée{{ nbcopiescorrigees|pluralize }}.
<br><br><br>
<table cellspacing="20%" class="tableaunotes">
<tr><td><h3>N° copie</h3></td><td><h3>Élève</h3></td><td><h3>Note</h3></td></tr>
{% for cp in listecps %}
<tr><td><a name="{{ cp.code }}"></a>{{ cp.code }}</td><td>{{ cp.nom }}</td>
<td>{{ cp.note }}</td>
<td>
<form action="{% url 'prof.views.voircopie' %}" method="post">
    {% csrf_token %}
	{{ cp.formvoir }}
	<input type="submit" value="Voir copie" />
</form></td></tr>
{% endfor %}
</table>
{% endif %}


<h2>Liste des PDFs:</h2>
{% for pdf in listepdfqcm %}
<center>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
	{{ pdf.formTel }}
	<input type="submit" value="{{ pdf.nom }}" />
</form>
</center>
{% endfor %}
{% if encours %}
<br> En cours de préparation...
{% endif %}

{% if listecopies %}
<h2>Liste des copies chargées:</h2>
<table>
	{% for cp in listecopies %}
<tr><td>    {{ cp.nom }}</td><td>
{% if not cp.corrigee %}
: correction des copies en cours..{% endif %}
</td></tr>
{% endfor %} </table>
{% endif %}
 <br><br>
{% if not encours %}
{% if importpdfini %}
<h2>Charger des copies à corriger:</h2>
<table><tr>
<form action="{% url 'prof.views.qcmanage' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}<td>
    <table>{{ formAjoutCopies}}</table></td><td> <input type="submit" value="Ajouter" /></td>
</form></tr>
</table>
{% else %}
Préparation des corrections automatiques...
{% endif %}
{% endif %}
{% endblock %}
