{% extends "base.html" %}


{% block head %}
{% if encours or correctionencours or not importpdfini %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}


{% block content %}
<br><br>
{% if not erreurimportpdf %}
{% if listecps %}
<center>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
    {{ formGenNotes }}	
<input type="submit" value="Télécharger les notes" />
</form>
</center>
<hr width="75%" align="center"><br>
{% endif %}

<h2>Liste des PDFs:</h2>
{% for pdf in listepdfqcm %}
<center>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
	{{ pdf.formTel }}
	<input type="submit" value="{{ pdf.nom }}" />
</form>
</center>
{% endfor %}
{% if encours %}
<br> En cours de préparation...
{% endif %}

{% if listecopies %}
<hr width="75%" align="center"><br>
<h2>Liste des copies chargées:</h2>
<table>
	{% for cp in listecopies %}
<tr><td>    {{ cp.nom }}</td><td>
{% if not cp.corrigee %}
: correction des copies en cours..{% endif %}
</td></tr>
{% endfor %} </table>
{% endif %}
 <br><br>
{% if not encours %}
{% if importpdfini %}

<hr width="75%" align="center"><br>

<h2>Charger des copies à corriger:</h2>
<table><tr>
<form action="{% url 'prof.views.qcmanage' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}<td>
    <table>{{ formAjoutCopies}}</table></td><td> <input type="submit" value="Ajouter" /></td>
</form></tr>
</table>
{% else %}
Préparation des corrections automatiques...
{% endif %}
{% endif %}

{% if listecps %}
<hr width="75%" align="center"><br>
Il y a <b>{{ nbcopiescorrigees }}</b> copie{{ nbcopiescorrigees|pluralize }} corrigée{{ nbcopiescorrigees|pluralize }}.
<br><br><br>
<table cellspacing="20%" class="tableaunotes">
<tr><td><h3>N° copie</h3></td><td><h3>Élève</h3></td><td><h3>Note</h3></td></tr>
{% for cp in listecps %}
{% if cp.malcorrigee %}
<tr><td><a name="{{ cp.code }}"></a>{{ cp.code }}</td><td>{{ cp.nom }}</td>
<td>{{ cp.note }}</td>
<td>
<form action="{% url 'prof.views.voircopie' %}" method="post">
    {% csrf_token %}
	{{ cp.formvoir }}
	<input style="border-color:#FF0000" border=2px type="submit" value="Voir copie" />
</form></td></tr>
{% endif %}
{% endfor %}
{% for cp in listecps %}
{% if not cp.malcorrigee %}
<tr><td><a name="{{ cp.code }}"></a>{{ cp.code }}</td><td>{{ cp.nom }}</td>
<td>{{ cp.note }}</td>
<td>
<form action="{% url 'prof.views.voircopie' %}" method="post">
    {% csrf_token %}
	{{ cp.formvoir }}
	<input type="submit" value="Voir copie" />
</form></td></tr>
{% endif %}
{% endfor %}
</table>
{% endif %}
{% else %}
<h2> ERREUR LORS DE LA PREPARATION DES QCM, VEUILLEZ SUPPRIMER CE QCM </h2>
{% endif %}
<hr width="75%" align="center"><br>
<div style="text-align: center;" >
<table style="margin-left: auto; margin-right: auto;">
<form action="{% url 'prof.views.home' %}" method="post">
	{% csrf_token %}
	{{ formEffacerQCM }}
<tr><th></th><td>	<input type="submit" id="Effacer" value="Effacer le QCM"/> </td></tr>
</form>
</table>
</div>
{% endblock %}
