{% extends "base.html" %}


{% block head %}
{% if encours or not importpdfini or correctionencours %}
<meta http-equiv="refresh" content="10">
{% endif %}
{% endblock %}


{% block content %}
<h2>QCM {{ qcm.nom }}</h2><br><br>
{{ qcm.nomTeX }}
{% if listecps %}
<br><br>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
    {{ formGenNotes }}	
<input type="submit" value="Télécharger les notes" />
</form>
<br>
<table cellspacing="20%" class="tableaunotes">
<tr><td><h3>N° copie</h3></td><td><h3>Élève</h3></td><td><h3>Note</h3></td></tr>
{% for cp in listecps %}
<tr><td>{{ cp.code }}</td><td><a name="{{ cp.id }}">{{ cp.nom }}</td><td>
<form action="{% url 'prof.views.qcmanage' %}" method="post">

{% csrf_token %}
<table>
{{ cp.formNote }}
</table>
</td><td>
<input type="submit" name='hidden' value="MAJ Note">
</form>
</td><td>
<form action="{% url 'prof.views.qcmanage' %}#{{ cp.id }}" method="post">
    {% csrf_token %}
    {% if not cp.jpg %}{{ cp.formMI }}{% endif %}
	<input type="submit" value="{% if cp.jpg %}Masquer copie{% else %}Voir copie{% endif %}" />
</form></td><td>
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
{{ cp.formEffCopie }}
<input type="submit" value="X" />
</form>
</td></tr>
<tr><td colspan="4">
	{% for cjpg in cp.jpg %}
	<a href="{% url 'prof.views.image' cjpg %}">
	<img src="{% url 'prof.views.image' cjpg %}" style="height:228px"></a>
	{% endfor %}
</td></tr>
{% endfor %}
</table>
{% endif %}
<h2>Composition du QCM</h2><br>

{% for exo in listexosqcm %}
   <span style="text-decoration: underline;"> {{ exo.nom }} </span> ({{ exo.nb }} exercice{{ exo.nb|pluralize }})
<br>
{% endfor %} 

<h2>Liste des PDFs:</h2>
{% for pdf in listpdfqcm %}
<form action="{% url 'prof.views.qcmanage' %}" method="post">
    {% csrf_token %}
	{{ pdf.formTel }}
	<input type="submit" value="{{ pdf.nom }}" />
</form>
{% endfor %}
{% if encours %}
<br> En cours de préparation...
{% endif %}

{% if listecopies %}
<h2>Liste des copies chargées:</h2>
<table>
	{% for cp in listecopies %}
<tr><td>    {{ cp.nom }}</td><td>
{% if not cp.corrigee %}
: correction des copies en cours..{% endif %}
</td></tr>
{% endfor %} </table>
{% endif %}
 <br><br>
{% if not encours %}
{% if importpdfini %}
<h2>Charger des copies à corriger:</h2>
<table><tr>
<form action="{% url 'prof.views.qcmanage' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}<td>
    <table>{{ formAjoutCopies}}</table></td><td> <input type="submit" value="Ajouter" /></td>
</form></tr>
</table>
{% else %}
Préparation des corrections automatiques...
{% endif %}
{% endif %}
{% endblock %}
